* {
    text-align: center;
}

body {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

h1,h2 {
    font-family: monospace;
    font-size: 32px;
    background-color: aqua;
}

ul {
    font-family:sans-serif;
    list-style-type: none;
    background-color: orange;
    margin: auto;
}

ol{
    font-family:sans-serif;
    background-color: skyblue;
    margin: auto;
}

li {
    font-size: 20px;
    font-weight:600;
    padding: 10px 0;
}

a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: beige;
}

p{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}